<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header class="header">
    <%- include('partials/header'); %>
</header>

<div class="container mx-auto py-6">
    <h1 class="text-3xl py-4 border-b mb-10">Schematics</h1>
    <% if (header.username) { %>
        <div class="mb-4 flex justify-between items-center">
            <div class="flex-1 pr-4 mb-4"></div>
            <div>
                <div class="shadow rounded-lg flex">
                    <div class="relative">
                        <button class="rounded-lg inline-flex items-center bg-green-600 text-white hover:bg-green-700 py-2 px-2 md:px-4"
                                onclick="WEL.openSchematicUploadModal()">
                            <span>Upload</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <div id="schematic-table" class="table"></div>
    <script>
      var tableSchematic = WEL.newTable('#schematic-table', {
        rowKey: 'uuid',
        columns: [
          {title: 'Name', key: 'name'},
          {title: 'Uploaded By', func: function (item) {return item.uploadedBy ? item.uploadedBy : '-'}},
          {title: 'Uploaded At', func: function (item) {return new Date(item.createdAt).toLocaleDateString('en-EN')}},
          {
            title: 'Access', func: function (item) {
              switch (item.access) {
                case 0:
                  return 'Public';
                case 1:
                  return 'Internal';
                case 2:
                  return 'Private';
              }
            },
          },
          {title: 'Category', key: 'category'},
          {
            title: '', func: function (item) {
              if (item.write) {
                return '<span class="actionhub">' +
                  '<i class="fas fa-link" data-clipboard="<%= data.baseURL %>/dl/s/' + item.uuid + '"></i>' +
                  '<i class="fas fa-arrow-down" data-href="<%= data.baseURL %>/dl/s/' + item.uuid + '"></i>' +
                  '<i class="fas fa-trash-alt" data-delete-schematic="' + item.uuid + '"></i>' +
                  '<i class="fas fa-wrench" data-notification="Work in progress"></i>' +
                  '</span>';
              } else {
                return '<span class="actionhub">' +
                  '<i class="fas fa-link" data-clipboard="<%= data.baseURL %>/dl/s/' + item.uuid + '"></i>' +
                  '<i class="fas fa-arrow-down" data-href="<%= data.baseURL %>/dl/s/' + item.uuid + '"></i>' +
                  '</span>';
              }
            },
          },
        ],
        clickHandler: function (event) {
          if (event.target === undefined) {
            return;
          }
          var data = event.target.dataset;

          if (data.clipboard !== undefined) {
            WEL.copyToClipboard(data.clipboard);
          } else if (data.href !== undefined) {
            location.href = data.href;
          } else if (data.notification !== undefined) {
            WEL.sendNotification(data.notification, data.notificationStatus, data.notificationDuration);
          } else if (data.deleteSchematic !== undefined) {
            WEL.openConfirmModal('Do you really want to delete the schematic?', function () {
                WEL.deleteSchematic(data.deleteSchematic);
            });
          }
        },
      });
      tableSchematic.setData(JSON.parse('<%- data.tableData %>'));
    </script>
</div>
<%- include('partials/foot'); %>
</body>
</html>